# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.buildlog/
.history
.svn/

# IDEs
.idea/
*.iml
.vscode/

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated
**/doc/api/
lib/generated_plugin_registrant.dart

# Obfuscation / Symbols
app.*.symbols
app.*.map.json

# Environment
.env
.env.*

# Firebase
firebase-debug.log
firebase-debug.*.log

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/**/*.png
**/fastlane/test_output

# ----------------------
# Android
# ----------------------
android/.gradle/
android/captures/
android/local.properties

android/app/debug/
android/app/profile/
android/app/release/

# ----------------------
# iOS
# ----------------------
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/
ios/Pods/

# Xcode
ios/Runner.xcworkspace/
xcuserdata/

# ----------------------
# macOS
# ----------------------
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/xcuserdata/

# ----------------------
# Linux
# ----------------------
linux/flutter/ephemeral/

# ----------------------
# Windows
# ----------------------
windows/flutter/ephemeral/

# ----------------------
# Fuchsia
# ----------------------
fuchsia/.packages
fuchsia/build/


# Generated plugin registrants
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugin_registrant.*